{{!< main_layout }}

       <div id="main-content" class="clearfix">
                <div id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><i class="icon-home"></i> <a href="#">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
                        <li class="active">User</li>
                    </ul><!--.breadcrumb-->
                </div><!--#breadcrumbs-->
                <div id="page-content" class="clearfix">
                    <div class="row-fluid">  
<!-- PAGE CONTENT BEGINS HERE -->


<table class="table table-striped table-bordered table-hover table-condensed">
    <tr align="center" style="font-weight:bold">
        
        <td>Email</td>
        <td>Type</td>
        <td>Name</td>
        <td>Address</td>
        <td>Mobile</td>
        <td></td>
    </tr>
   {{#each items}}
        <tr align="center" style="font-weight:bold">
           
            <td>{{username}}</td>
            <td>{{type}}</td>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>{{mobile}}</td>
            <td><a href="/dashboard/user/{{_id}}/remove" style="color:red"><i class="icon-remove red"></i> Remove</a><a href="/dashboard/user/{{_id}}" style="color: #3f00ff;margin:5%"><i class="icon-edit"></i> Edit</a></td>
        </tr>
   {{/each}}


</table>

                    </div><!--/row-->
                </div><!--/#page-content-->
            </div><!-- #main-content -->

